@import url(//db.onlinewebfonts.com/c/1bb28440d44596129c2c67bb9f94eae3?family=Bauhaus+Hv+BT);
*{
    margin: 0;
}
body{
    background-color: #3D087B;
}
.clocklogo{
    position: relative;
    top: 34px;
    left: 124px;
    width: 204px;
    height: 77px;
}
.timebox1{
    position: absolute;
    top: 55px;
    left: 785px;
    height: 130px;
    width: 380px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #8E53F0;
    z-index: -1;
    opacity: 0.22;
}
.timebox2{
    width: 416px;
    height: 130px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background-color: #FFFFFF;
    position: absolute;
    top: 45px;
    left: 768px;
    z-index: 0;
    opacity: 0.71;
}
.timebox3{
    width: 536px;
    height: 130px;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    position: absolute;
    top: 34px;
    left: 716px;
    z-index: 1;
}
.t1{
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #3D087B;
    position: absolute;
    top: 50px;
    left: 30px;
}
#hour{
    background-image: url(pic_1.png);
    width: 80px;
    height: 90px;
    border: 1px solid #F6E2FF;
    border-radius: 5px;
    position: absolute;
    top: 18px;
    left: 100px;
    box-sizing: border-box;
    color: #8A11BF;
    font-family: 'Manrope', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding-top: 15px;
}
.semicolon1{
    color: #3D087B;
    font-size: 45px;
    position: absolute;
    top: 30px;
    left: 185px;
}
.semicolon2{
    color: #3D087B;
    font-size: 45px;
    position: absolute;
    top: 30px;
    left: 285px;
}
#min{
    background-image: url(pic_1.png);
    width: 80px;
    height: 90px;
    border: 1px solid #F6E2FF;
    border-radius: 5px;
    position: absolute;
    top: 18px;
    left: 200px;
    box-sizing: border-box;
    color: #8A11BF;
    font-family: 'Manrope', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding-top: 15px;
}
#sec{
    background-image: url(pic_1.png);
    width: 80px;
    height: 90px;
    border: 1px solid #F6E2FF;
    border-radius: 5px;
    position: absolute;
    top: 18px;
    left: 300px;
    box-sizing: border-box;
    color: #8A11BF;
    font-family: 'Manrope', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding-top: 15px;
}
#ampm{
    background-image: url(pic_2.png);
    width: 80px;
    height: 90px;
    border: 1px solid #F6E2FF;
    border-radius: 5px;
    position: absolute;
    top: 18px;
    left: 400px;
    box-sizing: border-box;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    padding-top: 28px;
}
.textbox{
    box-sizing: border-box;
    background-color:#FFFFFF;
    width: 535px;
    height: 100px;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    position: absolute;
    top: 212px;
    left: 716px;
}
#text1{
    font-family: "Bauhaus Hv BT";
    color: #8E53F0;
    font-size: 27px;
    position: absolute;
    top: 30px;
    left: 45px;
}
#imgbox{
    background-image: url(defaul.png);
    background-size: cover;
    border-radius: 20px;
    width: 536px;
    height: 341px;
    position: absolute;
    top: 345px;
    left: 716px;
}
/* .imgbox{
    background-image: url(pic_7.svg);
    width: 536px;
    height: 341px;
    position: absolute;
    top: 345px;
    left: 716px;
} */
.container1{
    background-color: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    box-sizing: border-box;
    width: 566px;
    height: 363px;
    position: relative;
    top: 49px;
    left: 124px;
}
.wake{
    position: absolute;
    top: 15px;
    left: 20px;
}
.set1{
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #3D087B;
    position: absolute;
    top: 20px;
    left: 100px;
}
#morning{
    color: #3D087B;
    font-size: 16px;
    width: 281px;
    height: 45px;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 270px;
}
.hr1{
    height: 40px;
    width: 0px;
    position: absolute;
    top: 50px;
    left: 38px;
}
.lunch{
    position: absolute;
    top: 100px;
    left: 20px; 
}
.set2{
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #3D087B;
    position: absolute;
    top: 110px;
    left: 100px;
}
#afternoon{
    color: #3D087B;
    font-size: 16px;
    width: 281px;
    height: 45px;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    position: absolute;
    top: 100px;
    left: 270px;
}
.hr2{
    height: 40px;
    width: 0px;
    position: absolute;
    top: 140px; 
    left:38px; 
}
.nap1{
    position: absolute;
    top: 195px;
    left: 20px;
}
.set3{
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #3D087B;
    position: absolute;
    top: 200px;
    left: 100px;
}
#evening{
    color: #3D087B;
    font-size: 16px;
    width: 281px;
    height: 45px;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    position: absolute;
    top: 190px;
    left: 270px;
}
.hr3{
    height: 40px;
    width: 0px;
    position: absolute;
    top: 230px;
    left: 38px;
}
.nap2{
    position: absolute;
    top: 290px;
    left: 25px;
}
.set4{
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #3D087B;
    position: absolute;
    top: 300px;
    left: 100px;
}
#night{
    color: #3D087B;
    font-size: 16px;
    width: 281px;
    height: 45px;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    position: absolute;
    top: 290px;
    left: 270px;
}
#box5{
    background-color:#56189cde;
    width: 566px;
    height: 77px;
    border-radius: 10px;
    position: relative;
    top: 69px;
    left: 124px;
}
#txt2{
    font-family: "Bauhaus Hv BT";
    color: white;
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 50px;
}
button{
    border:1px solid #3D087B;
    background-image: linear-gradient(
        280deg,  
        #6E54EC,
        #CB52F8,
        #FC5EFF,
        #F1A7C5
    );
    width: 299px;
    height: 50px;
    border-radius: 5px;
    position: relative;
    left: 124px;
    top: 90px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.txt3a{
    display: none;
}
button:hover .txt3{
    display:none;
}
button:hover .txt3a{
    display: contents;
}
button:hover{
    background-image: linear-gradient(
        -280deg,
        #6E54EC,
        #CB52F8,
        #FC5EFF,
        #F1A7C5
    );
}
.box6{
    background-color:#56189cde;
    width: 253px;
    height: 117px;
    border-radius: 10px;
    position: relative;
    top: 40px;
    left: 435px;
    box-sizing: border-box;
    padding: 10px 20px;
}
.txt4{
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: #F25CFE;
    line-height: 25px;
}
@media all and (max-width:500px){
    .clocklogo{
        position: absolute;
        left: 20px;
    }
    .timebox1{
        position: absolute;
        left: 68px;
        top: 165px;
    }
    .timebox2{
        position: absolute;
        left: 50px;
        top: 155px;
    }
    .timebox3{
        position: absolute;
        left: 20px;
        top: 150px;
        width: 480px;
    }
    .t1{
        position: absolute;
        left: 35px;
    }
    .semicolon1{
        position: absolute;
        left: 125px;
    }
    #hour{
        position: absolute;
        left: 150px;
    }
    .semicolon2{
        position: absolute;
        left: 240px;
    }
    #min{
        position: absolute;
        left: 265px;
    }
    #sec{
        position: absolute;
        left: 375px;
    }
    #ampm{
        display: none;
    }
    .container1{
        position: absolute;
        left: 20px;
        top: 320px;
        width: 480px;
    }
    #morning{
        width: 190px;
    }
    #afternoon{
        width: 190px;
    }
    #evening{
        width: 190px;
    }
    #night{
        width: 190px;
    }
    #box5{
        position: absolute;
        top: 700px;
        left: 20px;
        width: 480px;
    }
    button{
        position: absolute;
        top: 800px;
        left: 20px;
        width: 90vw;
    }
    .box6{
        position: absolute;
        top: 870px;
        left: 20px;
        width: 90vw;
    }
    .textbox{
        width: 480px;
        position: absolute;
        left: 20px;
        top: 1010px ;
    }
    .txt1{
        font-size: 25px;
        position: absolute;
        left: 10px;
    }
    .imgbox{
        width: 480px;
        position: absolute;
        top:1150px;
        left: 20px;
    }
}
